# Local admin defaults are built into development mode.
# For production, set these in Vercel Environment Variables.
ADMIN_PASSWORD=shanto@1092
ADMIN_SECRET=shantosorker349@gmail.com

CLOUDINARY_CLOUD_NAME=biorfqkc
CLOUDINARY_API_KEY=952472345151395
CLOUDINARY_API_SECRET=I1xZLXKeMPvKXNQobWRZOuPbbDA
